.base {
    width: 40rem;
    margin: 1rem auto 0;
    text-align: center;
}
.base h1 {
    font-size: 4em;
    font-family: 'Fugaz One', cursive;
    margin: 0;
    margin-bottom:-0.6rem;
    color: #505050;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}
.base h1 img {
    margin-right: 0.5em;
    background: #ffffff;
    border-radius: 50px;
}
.base h1:hover {
    color: #111111;
}
.base .aboutme h2 {
    color: #808080;
    font-size: 1.2rem;
    margin: -0.2rem;
    font-family: 'Tillana', cursive;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}
.base .aboutme h2:hover {
    color: #111111;
}
.base .aboutme p {
    color: #999999;
    font-size: 1rem;
    font-family: 'Tillana', cursive;
    margin: 0;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}
.base .aboutme p:hover {
    color: #222222;
}
.copyright {
    margin-top: -0.5rem;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #444444;
}
