ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social {
    text-align: center;
    padding: 4% 0%;
    margin: 0 auto;
    margin-top: -3rem;
    width: 25%;
}
.social ul li {
    float: left;
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
}
.social ul li:nth-child(5) {
    margin-right: 0rem;
}
.social ul {
    padding: 1rem 0.5rem;
    border-radius: 0.1rem;
}
.social ul li {
    background: #cccccc;
    border-radius: 1.1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social ul li a {
    padding: 0.5rem;
    display: block;
    vertical-align: middle;
}
.social ul li a img {
    vertical-align: middle;
    width: 1.8rem;
    height: 1.8rem;
}
.social ul li:hover {
    background: #fff;
}